# Visualization Libraries
matplotlib
seaborn
plotly

# Numeric and Data Manipulation Libraries
numpy
pandas
scipy

# Machine Learning Library
scikit-learn

# Interactive Widgets
ipywidgets
jupyterlab_widgets

# JupyterLab Extensions
jupyterlab-snippets
jupyterlab-git
jupyterlab-lsp
jupyterlab_code_formatter
jupyterlab_templates
jupyterlab-spreadsheet-editor

# Diagram Drawing Libraries
ipydrawio
ipydrawio-export

# Interactive Presentations
rise

# Parallel Computing
ipyparallel
